<div class="conteiner ">
<div class="row add-news">
  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-6">
      <input class="form-control" name="title" [(ngModel)]="title" placeholder = "Title"  required title/>
      <div [hidden]="title.valid || title.untouched" class="alert alert-danger">
        Не указано имя
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-4">
      <select class="form-control" [(ngModel)]="category" placeholder = "Category" required>
        <option *ngFor="let categ of categoryitem " [ngValue]="categ">{{categ}}</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-6">
      <textarea type="text" class="form-control" [(ngModel)]="text" placeholder="Post" rows="7" required> </textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-6">
      <input type="text" class="form-control" [(ngModel)]="autor" placeholder="Autor" required/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-3 col-xs-2">
      <button class="btn btn-success btn-lg my-btn" (click)="addItem(title, category, text, autor)">Add</button>
    </div>
  </div>


</div>







    </div>

