
<div class="panel">
  <div class="form-inline">
    <div class="form-group">
      <div class="col-md-8">
        <input class="form-control" [(ngModel)]="title" placeholder = "Title" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8">
        <input class="form-control" [(ngModel)]="category" placeholder = "Category" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <input type="text" class="form-control" [(ngModel)]="text" placeholder="Post" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-6">
        <input type="text" class="form-control" [(ngModel)]="autor" placeholder="Autor" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-8">
        <button class="btn btn-default" (click)="addItem(title, category, text, autor)">Add</button>
      </div>
    </div>
  </div>

</div>

<div class="container" >
  <div class="row">
    <div class="col-xs-12" >
      <h2>Add Post</h2>
      <ul *ngFor="let item of items">
        <div class="form-control">{{item.title}}</div>
        <div class="form-control">{{item.category}}</div>
        <div class="form-control">{{item.text}}</div>


      </ul>
    </div>

  </div>


</div>
